<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--使用包扫描这个配置开启包扫描-->
    <context:component-scan base-package="cn.edu.hust"/>

    <bean id="dog" class="cn.edu.hust.xml.domain.Dog" scope="singleton">
        <!--<property name="animal" ref="animalPlayer"></property>-->
    </bean>

    <!-- 这里的类有一个构造器的依赖,所以的需要使用xml来注入到这个类中
         这里如果需要传递字面值,可以使用如下的方式传递
         使用list作为构造器的装配,类似的也可以使用set来进行装配
    -->
    <!--
    <bean id="animalPlayer" class="cn.edu.hust.xml.service.AnimalPlayer" scope="prototype">
        <constructor-arg ref="dog"/>
        <constructor-arg value="vivi"/>
        <constructor-arg>
            <list>
                <value>hello</value>
                <value>world</value>
                <value>ni</value>
                <value>hao</value>
            </list>
        </constructor-arg>
    </bean>
    -->

    <bean id="animalPlayer" class="cn.edu.hust.xml.service.AnimalPlayer" scope="prototype">
        <constructor-arg ref="dog"/>
    </bean>

</beans>